PORT=3000
TENANT_ID=
API_AUDIENCE=
REQUIRED_SCOPE=
BARTENDER_ACTIONS_URL=
BUILD_TAG=

PRINTSVC_CONFIG_DIR=C:\PrintSvc
BARTENDER_TEMPLATE_DIR=C:\RFID

DV_TENANT_ID=
DV_CLIENT_ID=
DV_CLIENT_SECRET=
DV_URL_DEV=
DV_URL_PROD=

SP_TENANT_ID=
SP_CLIENT_ID=
SP_CLIENT_SECRET=
SP_HOSTNAME=
SP_SITE_PATH=

DV_LOT_ENTITYSET=rm_lots
DV_INVENTORY_ENTITYSET=rm_inventories
DV_PRINTLOG_ENTITYSET=rm_printlogs
DV_LOTNUMBER_COL=rm_lotnumber
DV_INV_LOTLOOKUP_COL=rm_lot
DV_INV_BOX_COL=rm_box
DV_INV_ID_COL=rm_inventoryid
DV_INV_RFID_COL=rm_rfid
DV_INV_WEIGHT_COL=rm_netweight
DV_PRINTLOG_PRINTEDBY_COL=rm_printedby
DV_PRINTLOG_PRINTEDON_COL=rm_printedon
DV_PRINTLOG_RESULT_COL=rm_result
DV_PRINTLOG_RFIDTEXT_COL=rm_rfidtext
DV_PRINTLOG_NOTES_COL=rm_notes
DV_PRINTLOG_STATION_COL=rm_station
DV_PRINTLOG_LOT_NAV=rm_Lot
DV_PRINTLOG_INVENTORY_NAV=rm_Inventory
