PORT=3000
TENANT_ID=
API_AUDIENCE=
REQUIRED_SCOPE=
BARTENDER_ACTIONS_URL=

PRINTSVC_CONFIG_DIR=C:\PrintSvc
BARTENDER_TEMPLATE_DIR=C:\RFID

DV_TENANT_ID=
DV_CLIENT_ID=
DV_CLIENT_SECRET=
DV_URL_DEV=
DV_URL_PROD=

SP_TENANT_ID=
SP_CLIENT_ID=
SP_CLIENT_SECRET=
SP_HOSTNAME=
SP_SITE_PATH=

DV_LOT_ENTITYSET=rm_lots
DV_INVENTORY_ENTITYSET=rm_inventories
DV_PRINTLOG_ENTITYSET=rm_printlogs
DV_LOTNUMBER_COL=rm_lotnumber
DV_INV_LOTLOOKUP_COL=rm_lot
DV_INV_BOX_COL=rm_box
DV_INV_ID_COL=rm_inventoryid
DV_INV_RFID_COL=rm_rfid
DV_INV_WEIGHT_COL=rm_netweight